{% extends 'base.html' %}
{% block content %}
<div class=" m-3">
    <h1 class="text-center">All Projects</h1>
    <a href="{% url 'createproject' %}" class="btn btn-outline-dark w-25 m-auto">Create New Project</a>
    <div class="row d-flex justify-content-between">
        {% for project in object_list %}
        <div class="card mb-3 col-lg-5 col-sm-12 p-2">
            <img src="{{project.get_image_url}}" alt="{{project.get_image_url}}" class="card-img-top" style="height:230px ;">
            <div class="card-body"> 
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text"><small class="text-muted">{{project.tags}}</small></p>
            </div>
            <a href="{% url 'detail' project.id %}" class="btn btn-outline-dark w-100 text-center">Show</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}